@import '../../Styles/colors.scss';

.someExamples{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        font-size: 30px;
        color: var(--blackOpacity);

        b {
            color: var(--brownDoor)
        }
    }

    &__imagensContainer{
        display: flex;
        width: 100%;
        min-height: 300px;
        justify-content: center;
        flex-wrap: wrap;

        img{
            width: 280px;
            height: 220px;
            margin: 10px 35px;
            box-shadow: -1px 10px 10px -3px rgba(82,82,82,0.75);
            -webkit-box-shadow: -1px 10px 10px -3px rgba(82,82,82,0.75);
            -moz-box-shadow: -1px 10px 10px -3px rgba(82,82,82,0.75);
            border-top: 6px solid var(--brownDoor);
            object-fit: cover;
            transition: 0.3s;
        }

        img:hover {
            width: 300px;
            height: 240px;
            transition: 0.3s;
        }
    }
}