@import '../../Styles/colors.scss';

.welcome{
    width: 100%;
    height: 100vh;

    &__right-side{
        height: 25vh;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        font-size: 35px;
        color: var(--blackOpacity);
        align-items: flex-end;
        animation-name: rightJapanese;
        animation-duration: 2s;
        position: relative;
    }

    &__center-side{
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__text{
            font-size: 55px;
            padding-right: 600px;
            animation-name: welcomeTo;
            animation-duration: 2s;
            position: relative;
            color: var(--blackOpacity);
        }

        &__name{
            font-size: 85px;
            letter-spacing: 15px;

        }

        &__menu{
            font-size: 55px;
            padding-left: 600px;
            animation-name: menu;
            animation-duration: 2s;
            position: relative;
            color: var(--blackOpacity);

        }

    }

    &__left-side{
        height: 25vh;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        font-size: 35px;
        color: var(--blackOpacity);
        align-items: flex-start;
        justify-content: flex-end;
        animation-name: leftJapanese;
        animation-duration: 2s;
        position: relative;
    }
}

@keyframes welcomeTo {
    0%  {
            color: var(--blackTransparent);
            right: -30px;

        }

    100%{
            color: var(--blackOpacity);
            right: 0px;
        }
}

@keyframes menu {
    0%  {
            color: var(--blackTransparent);
            left: -30px;

        }

    100%{
            color: var(--blackOpacity);
            left: 0px;
        }
}

@keyframes leftJapanese {
    0%  {
            color: var(--blackTransparent);
            top: -30px;

        }

    100%{
            color: var(--blackOpacity);
            top: 0px;
        }
}

@keyframes rightJapanese {
    0%  {
            color: var(--blackTransparent);
            bottom: -30px;

        }

    100%{
            color: var(--blackOpacity);
            bottom: 0px;
        }
}