@import '../../Styles/colors.scss';

.ingredients{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        font-size: 30px;
        color: var(--blackOpacity);

        b {
            color: var(--brownDoor)
        }
    }

    &__imagensContainer{
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: transparent;
        width: 90%;
        height: 100px;
        margin-top: 10px;
        flex-wrap: wrap;
    }
}