
:root {
    --whiteLamp: #fdf2ebde;
    --brownDoor: #b98357;
    --lightGrey: #919191;
    --options:#b983576e;
    --blackTransparent: rgba(0, 0, 0, 0);
    --blackSemi: rgba(0, 0, 0, 0.2);
    --blackOpacity: rgba(0, 0, 0, 0.555);
}