
.menu{
    width: 100%;
    min-height: 100vh;

    &__image{
        display: flex;
        justify-content: center;
    }

    &__loaderContainer{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    &__foodInformation{
        display: flex;
        justify-content: center;
    }

    &__someExamples{
        display: flex;
        justify-content: center;
    }

    &__ingredients{
        display: flex;
        justify-content: center;
        min-height: 100px;
    }
}