
.menu{
    height: 100%;
    width: 100%;

    &__image{
        display: flex;
        justify-content: center;
    }

    &__loaderContainer{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &__foodInformation{
        display: flex;
        justify-content: center;
    }

    &__someExamples{
        display: flex;
        justify-content: center;
    }
}