@import '../../Styles/colors.scss';

.card {
    background-color: var(--whiteLamp);
    margin: 10px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &__information{
        padding: 9px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__icon{
        color: var(--brownDoor)
    }

    img{
        height: 100px;
        object-fit: cover;
    }
}