@import '../../Styles/colors.scss';

.nameFood{
    background-color: var(--whiteLamp);
    border-left: 3px solid var(--brownDoor);
    height: 80px;
    width: 180px;
    top: 85px;
    left: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    span{
        font-size: 25px;
        color: var(--blackOpacity)
    }
}

.selectedIconFood{
    color: var(--brownDoor)
}