@import '../../Styles/colors.scss';

.sidebar{
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    //background: url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0 0;
    background-color: var(--whiteLamp);
    background-repeat: repeat;
    border-right: 8px solid var(--brownDoor);

    &__title{
        display: flex;
        justify-content: center;
        font-size: 40px;
        color: var(--brownDoor);
        border-bottom: 8px solid var(--brownDoor);
        border-top: 8px solid var(--brownDoor);
    }

    &__body{

        &__section{

            &__title{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__options{
                font-size: 17px;
                cursor: pointer;
                border: none;
                background-color: transparent;
                transition: 0.5s;
                text-align: left;
                display: flex;
                align-items: center;
            } 
            
            &__options:hover{
                background-color: var(--options);
                transition: 0.5s;
            } 
        }
    }
}

.icon-menu{
    color: var(--brownDoor);
}

.tinyJapaneseSpan{
    font-size: 12px;
    margin-left: 6px;
    font-style: italic;
    color: var(--lightGrey);
}

.ant-collapse-content-box{
    display: flex;
    flex-direction: column;
}

.iconOptions{
    font-size: 10px;
    margin-right: 5px;
    color: var(--brownDoor)
}