
.App{
    background-image: url('./Assets/Img/istockphoto-959069860-612x612.jpg');
    display: flex;
    overflow-x: hidden;

    &__body{
        display: flex;
        background: linear-gradient(356deg, rgba(255,243,233,0.5) 0%, rgba(255,212,175,0.5) 50%);
        width: calc(100vw - 300px);
        height: 900px;
    }
}